@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #404040;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bg-blue {
    background-color: #4472C4;
}

.logo {
    height: 48px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons i {
    font-size: 48px;
    color: white;
    padding: 15px 12px;
    margin: 0;
}

.buttons a :hover {
    background-color: RGBA(32, 56, 100, 0.5);
}

.buttons a.selected {
    background-color: #203864;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #203864;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.searchbar a {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.searchbar input {
    background-color: #203864;
    color: white;
    border: 0;
    margin: 0 7px;
    font-size: 1.5em;
    width: 30em;
}

.searchbar input:focus {
    border: 0;
}



.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.main .container h1 {
    color: white;
    font-weight: 100;
    margin-bottom: 0;
    align-self: baseline;
}

.main .container .card-grid {
    display: grid;
    grid-template-columns: 195px 195px;
    grid-template-rows: 87.5% 16.9em;
}

.main .container .card-grid .card {
    justify-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
}

.secondNav {
    margin:0;
    width: 100%;
    height: 3.5em;
    background-color: #203864;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    position: fixed;
    left:0;
}

.secondNav ul{
    list-style-type: none;
}

.secondNav li {
    display: inline;
    margin: 0 1em;
}

.secondNav li a {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.secondNav li a:hover {
    color: white;
}

.secondNav li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.secondNav li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}